:root{
    --color_primario: #f2f2f2;
    --color_secundario: #e6e6e6;
    --color_texto: #000000;

}
main{
    display: grid;
    grid-template-columns: auto auto auto;

    & div{
        border: 1px solid black;
        margin: 10px;
        text-align: center;
        border-radius: 15px;
        padding: 10px;
        & img{
            width: 200px;
        }
    }
}

.item1{
    grid-area: header;
}

.item2{
    grid-area: nav;
}
.item3{
    grid-area: aside;

}
.item4{
    grid-area: main;
}
.item5{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas:
        'header header header header'
        'nav nav nav nav'
        'aside main main main'
        'footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}
a{
    text-decoration: none;
    background-color: var(--color_primario);
    color: var(--color_texto);
    font-weight: bold;
    padding: 5px;
    transition: background-color 0.3s linear 0.2s;

    &:hover{
        background-color: var(--color_secundario);
        padding: 7px;
    }
}